<div id="b1" value="b1" class="box">

        </div>
        <div id="b2" value="b2" class="box">

        </div>
        <div id="b3" value="b3" class="box">

        </div>
        <div id="b4" value="b4" class="box">

        </div>
        <div id="b5" value="b5" class="box">

        </div>
        <div id="b6" value="b6" class="box">

        </div>
        <div id="b7" value="b7" class="box">

        </div>
        <div id="b8" value="b8" class="box">

        </div>
        <div id="b9" value="b9" class="box">

        </div>
